{
  "url": "http://www.downthesofa.com/",
  "username": "test@email.com",
  "password": "******",
  "delay": 3000,
  "menu": [
    {
      "name": "Sushi King",
      "choices": [
        {
          "category": "Hoso Maki - Small Sushi Rolls - 8 Pieces",
          "product": ["Salmon\\/Tuna"]
        },
        {
          "category": "Nigiri - Fresh Fillets Pressed Onto Rice",
          "product": ["Nigiri: 6 Pieces. Salmon, Prawn"]
        }
      ]
    },
    {
      "name": "Tolteca Baggot",
      "choices": [
        {
          "category": "Burritos, Fajitas And Lots More",
          "product": [
            "Fajita",
            "White rice",
            "Chicken",
            "Grilled peppers and onions",
            ["Pico de Gallo"],
            "Cheese",
            ["Guacamole"],
            [""]
          ]
        }
      ]
    },
    {
      "name": "Sushida",
      "choices": [
        { "category": "Sashimi", "product": ["Tuna Sashimi"] },
        { "category": "Hosomaki \\(8 Pieces\\)", "product": ["Spicy Tuna Roll"] }
      ]
    },
    {
      "name": "Farmer Browns",
      "choices": [
        {
          "category": "Sandwiches",
          "product": ["Club Sandwich", [""]]
        }
      ]
    },
    {
      "name": "Check 22",
      "choices": [
        {
          "category": "Sandwiches",
          "product": ["Cuban Pork Sandwich", "Ciabatta"]
        }
      ]
    },
    {
      "name": "Dagwood's of Dublin",
      "choices": [
        {
          "category": "Homemade Sandwiches",
          "product": ["Caprese Ciabatta", [""], ["Salt & Vinegar"]]
        }
      ]
    },
    {
      "name": "Juniors Deli",
      "choices": [
        {
          "category": "Lunch Sandwiches",
          "product": ["Chargrilled Chicken", [""]]
        }
      ]
    },
    {
      "name": "Doughboys",
      "choices": [
        { "category": "Sandwiches", "product": ["Club"] }
      ]
    }
  ]
}